body {
	background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

/**************************
			lobby 
***************************/

#menu_bar {
	left: 0;
	top: 0;
	width: 90%;
	height: 20px;
	padding: 5px;
	margin: 5px;
	background-color: dimgray;
}

#gamelist_lobby {
	width: 90%;
	height: 55%;
	margin: 5px;
}

#open_rooms {
	float: left;
	width: 80%;
	height: 100%;
	background-color:cadetblue;
}

.game_room {
	display: inline-block;
	width: 100px;
	height: 200px;
	padding: 5px;
	margin: 5px;
	border: 10px black;
	background-color: mintcream;
}

#online_users {
	float: right;
	font: 15px Impact;
	width: 15%;
	height: 100%;
	padding: 5px;
	background-color: lightgreen;
}

.delete_room {
	background: orangered;
}

.start_game:hover{
	background: lawngreen;
}
/**************************	
			chat 
***************************/

#chat_box {
	position: fixed;
	bottom: 0;
	width: 80%;
	height: 30%;
	margin: 5px;
	margin-bottom: 10px;
	
}

chat_messages {
	width: 80%;
	height: 100%;
	margin: 5px;
	background:antiquewhite;
}
#chat_input_area {
	position: absolute;
	bottom: 0; 
	margin-bottom: 10px;
	background: #000; 
	padding: 5px; 
	position: fixed; 
	width: 60%; 
	height: 35px;
}

#chat_input {
	 border: 0; 
	 padding: 10px; 
	 width: 70%; 
	 margin-right: .5%; 
}

#chat_input_button {
	width: 50px;
	height: 35px;
	background: deepskyblue; 
	border: none; 
	padding: 10px;
}
/**************************	
			in game 
***************************/

tr {
	font: angsana;
}

table {
	border: none;
	text-align: center;
	padding: 5px;
	border-spacing: 5px;
}

.money, .flower1, .flower2, .flower3, .flowercard, .tool {
	text-align: center;
	margin: 2px;
	width: 20px;
	height: 20px;
}

.money {
	width: 25px;
	background-color: yellow;
	color: black;
}

.flower1 {
	background-color: pink;
	color: black;
}

.flower2 {
	background-color: lightblue;
	color: black;
}

.flower3 {
	background-color: white;
	color: black;
}

.tool {
	width: 40px;
	background-color: lightgreen;
}

#game_board {
	position: fixed;
	width: 800px;
	height: 900px;
	left: 0;
	top: 0;
	background-color: lightsteelblue;
}

#gamelog_window {
	display: none;
	position: fixed;
	width: 350px;
	right: 0;
	top: 0;
	border: black 2px solid;
	background: white;
}

#gamelog {
	position: absolute;
	width: 350px;
	height: 400px;
	overflow-y: auto;
	background: white;
	border: black 2px solid;
}